<div class="top half">
    <div class="index" style={{indexStyle}}>{{screen.index}}</div>
    <div class="title">{{screen.title}}</div>
    <div class="description">{{screen.description}}</div>
</div>
<div class="bottom half" style={{gradientStyle}}>
    <img class="icon">
</div>
